<h1>Ruby Brigades</h1>

<% @brigades.each do |brigade| %>
  <div class="brigade">
    <h2><%= brigade.name %></h2>
    <p><%= brigade.description %></p>
    <%= link_to 'Edit', [:edit, brigade] %>
  </div>
<% end %>

<div class="actions">
  <%= link_to 'New brigade', new_brigade_path, class: 'new-brigade' %>
</div>